doctype xml
resources
  //Bracketing
  string(name="pref_slashing") Slashing
  string(name="pref_slashing_entries_summ") Specifiy how slashes are placed in the text
  string(name="pref_slashing_default") EACH_WORD
  string-array(name="pref_slashing_entries")
    item Each Word
    item Entire Phrase
    item None
  string-array(name="pref_slashing_values")
    item EACH_WORD
    item ENTIRE_PHRASE
    item NONE
