doctype xml
resources
  string(name="app_name") IPA Notepad
  //Menu Items
  string(name="about") About
  string(name="donate") Donate
  string(name="settings") Settings
  //Messages
  //Keyboard
  string-array(name="keyboard_keys")
    //Row 0
    //Left Side
    item o
    item(name="epsilon_hoOK") &#605;
    item(name="epsilon") &#603;
    item i
    item(name="antisigma") &#8580;
    //Right Side
    item b
    item p
    item m
    item d
    item z
    //Row 1
    //Left Side
    item u
    item(name="ash") &#230;
    item(name="schwa") &#601;
    item(name="capital_i") &#618;
    item(name="turned_v") &#652;
    //Right Side
    item l
    item r
    item n
    item t
    item s
    //Row 2
    //Left Side
    item(name="upsilon") &#650;
    item a
    item(name="schwar") &#602;
    item e
    item(name="glottal_stop") &#660;
    //Right Side
    item h
    item w
    item(name="velar_nasaL") &#331;
    item v
    item f
    //Row 3
    item &#32;
    item(name="emphasis") \'
    item k
    item g
    item(name="eth") &#240;
    item(name="theta") &#952;
    item j
    item(name="esh") &#643;
    item(name="ezh") &#658;
    item &#32;
