doctype xml
resources
  style(name="Default")
    item(name="android:layout_height") wrap_content
  style(name="Default.TextView")
    item(name="android:layout_width") wrap_content
    item(name="android:textSize") 25sp
  style(name="Default.Button")
    item(name="android:layout_width") fill_parent
    item(name="android:textSize") 50sp
