doctype xml
LinearLayout(xmlns:android="http://schemas.android.com/apk/res/android"
  style="@style/Default.Container"
  android:orientation="vertical"
  android:layout_width="match_parent"
  android:layout_height="match_parent"
  )
  ScrollView(android:layout_width="match_parent"
    android:layout_height="0dp"
    android:layout_weight="1"
    )
    EditText(android:id="@+id/notepad"
      style="@style/Default.TextView"
      android:layout_width="match_parent"
      android:layout_height="match_parent"
      android:inputType="none|textNoSuggestions|textMultiLine"
      android:textIsSelectable="true"
      )
  LinearLayout(android:id="@+id/keyboard"
    android:layout_width="match_parent"
    android:layout_height="0dp"
    android:layout_weight="1"
    android:orientation="vertical"
    )
    GridView(android:id="@+id/keyboard_main"
      android:layout_width="match_parent"
      android:layout_height="wrap_content"
      android:columnWidth="25dp"
      android:numColumns="10"
      android:verticalSpacing="5dp"
      android:horizontalSpacing="5dp"
      android:stretchMode="columnWidth"
      android:gravity="center"
      )
    LinearLayout(android:id="@+id/utility_row"
      android:layout_width="match_parent"
      android:layout_height="wrap_content"
      )
      Button(android:id="@+id/emphasis"
        style="@style/Keyboard"
        android:layout_marginLeft="-6dp"
        android:text="\'"
        )
      ImageButton(android:id="@+id/spacebar"
        android:layout_width="273dp"
        android:layout_height="@dimen/keyboard_button_dim"
        android:layout_marginLeft="-7dp"
        android:src="@drawable/ic_space_bar_white"
        )
      ImageButton(android:id="@+id/newline"
        style="@style/Keyboard"
        android:layout_marginLeft="-7dp"
        android:src="@drawable/ic_keyboard_return_white"
        )


