doctype xml
LinearLayout(xmlns:android="http://schemas.android.com/apk/res/android"
  style="@style/Default.Container"
  android:orientation="vertical"
  android:layout_width="match_parent"
  android:layout_height="match_parent"
  )
  ScrollView(android:id="@+id/notepad_container"
    android:layout_width="match_parent"
    android:layout_height="0dp"
    android:layout_weight="1"
    )
  LinearLayout(android:id="@+id/keyboard"
    android:layout_width="match_parent"
    android:layout_height="0dp"
    android:layout_weight="1"
    android:orientation="vertical"
    )
    LinearLayout(android:id="@+id/keyboard_container_main"
      android:layout_width="match_parent"
      android:layout_height="wrap_content"
      )
    LinearLayout(android:id="@+id/keyboard_container_utility_row"
      android:layout_width="match_parent"
      android:layout_height="wrap_content"
      )
